{% extends 'base.html' %}
{% block content %}
<h1><a href="{{ url_for('my_recipme', username=username)}}">My RecipMe.</a></h1>
<h2>Go ahead and create a new RecipMe</p>
<br>
<form action="{{ url_for('creating_recipe', username=username) }}" method='POST'>
    <fieldset>
        <legend>Main Details</legend>
        <label>Recipe Title </label>
        <br>
        <input type='text' id='RecipeTitle' placeholder='Recipe Title' name='RecipeTitle' maxlength='150'required>
        <p id='recipe-title-counter'></p>
        <br>
        <label>Brief Description:</label> 
        <br>
        <textarea id='RecipeDescription' placeholder='Description' name='RecipeDescription' maxlength='250' required></textarea>
        <p id='recipe-description-counter'></p>
        <br>
        <label>Total Cooking Time in minutes:</label>
        <br>
        <input type='number' id='CookingTime' value='1' step ='1' name='CookingTimeMins' min='0' max='1440' required> mins
        <br>
        <label>Make Recipe Public:</label>
        <br>
        <input type='radio' id='MakePublicYes' name='MakePublic' value='1'required checked> Yes
        <input type='radio' id='MakePublicNo' name='MakePublic' value='0' required> No
        <br>
    </fieldset>
    <fieldset>
        <legend>Stats</legend>
        <label>Cuisine</label>
        <br>
        <input type='text' id='Cuisine' placeholder='Cuisine' name='CuisineName' maxlength='160' required>
        <p id='cuisine-description-counter'></p>
        <br>
        <label>Course</label>
        <br>
        <input type='text' id='Course' placeholder='Course' name='CourseName' maxlength='160' required>
        <p id='course-description-counter'></p>
        <br>
        <label>Calories</label>
        <br>
        <input type='number' id='Calories' placeholder='Number of Calories' value='1' name='Calories' min='0' max='20000' required>
        <br>
        <label>Cost</label>
        <br>
        <input type='number' id='Cost' placeholder='Total Cost to Nearest Pound' value='1' name='Cost' min='0' max='10000' required>
        <br>
        <label>Total Servings</label>
        <br>
        <input type='number' id='Servings' placeholder='Total Servings' value='1' name='Servings' min='0' max='1000' required>
        <br>
    </fieldset>
    <fieldset id='ingredients'>
        <legend>Ingredients</legend>
        <button type='button' id='add-ingredient'>Add Ingredient</button><button type='button' id='remove-ingredient'>Remove Ingredient</button>
        <br>
        <!--<input type='text' id='Ingredient' placeholder='Add Ingredient' name='Ingredient' required>-->
    </fieldset>
    <fieldset id = 'method'>
        <legend>Method</legend>
        <button type='button' id='add-step'>Add Step</button><button type='button' id='remove-step'>Remove Step</button>
        <br>
    </fieldset>
    <input type='submit' value='Add Recipe'> 
</form>
<script>

    // -----------------------  DOM VARIABLES -------------------------- //
    const ingredients = document.getElementById('ingredients');
    const addIngredientButton =  document.getElementById('add-ingredient');
    const removeIngredientButton =  document.getElementById('remove-ingredient');

    const method =  document.getElementById('method');
    const addStepButton = document.getElementById('add-step');
    const removeStepButton = document.getElementById('remove-step');
    
    // --------------------- INPUT FIELD COUNTERS --------------------//

    let ingredientCounter = 1;
    let methodCounter = 1;
    // --------------------------------------------------------------//

    // ----------------- INPUT FIELD CHARACTER COUNTERS ----------------//
    const characterCounter = (input, counter, count) => {
        document.getElementById(input).onkeyup = function() {

            document.getElementById(counter).innerHTML = 'Characters remaining:'+ (count-this.value.length);
        };
    }

    const totalCharacters = (counter, count) => {

        document.getElementById(counter).innerHTML = 'Characters remaining:'+ count;
    }

    // ------------------- CREATE INPUT TEXT FIELD -------------------- //

    class createElement {

        constructor(field, counter) {

            this.field = field;
            this.counter = counter;
        }

        createInput() {

            const input = document.createElement('input');
            input.id = `${this.field}-${this.counter}`;
            input.type = 'text';
            input.name = `${this.field}`;
            input.placeholder = `${this.field}`;
            input.required;

            return input;
        }

        createStepNumber(counter) {

            const input = document.createElement('input');
            input.id = `s-${counter}`;
            input.class = 'step-number';
            input.type = 'number';
            input.min = `${counter}`
            input.max = `${counter}`
            input.name = `StepNumber`;
            input.value = `${counter}`;
            input.required;

            return input
        }

        // ------------------ CREATE BR -------------------------------- //
        createBr() {

            const br = document.createElement('br');
            br.id = `br-${this.field}-${this.counter}`;
            return br
        }

    }
    
    
    

   // ----------------- ADD INGREDIENT TEXT FIELD ON CLICK ------------- //
    const addAnIngredient = (button, parent) => {

        button.addEventListener('click', (e) => {    

            if (ingredientCounter <= 25) {

                const quantity = new createElement('Quantity', ingredientCounter);
                const ingredient = new createElement('Ingredient', ingredientCounter);
                const br = new createElement('Ingredient', ingredientCounter);

                parent.appendChild(quantity.createInput());
                parent.appendChild(ingredient.createInput());
                parent.appendChild(br.createBr());
            }
            
            console.log(ingredientCounter);
            ingredientCounter += 1;
              
        });

    }

    // ----------------- REMOVE INGREDIENT TEXT FIELD ON CLICK ------------- //

    const removeIngredient = (button, parent) => {

        button.addEventListener('click', (e) => {
            
            const removeInput = document.getElementById(`Ingredient-${ingredientCounter -1}`);
            const removeBr = document.getElementById(`br-Ingredient-${ingredientCounter -1}`);
            const removeQuantity = document.getElementById(`Quantity-${ingredientCounter - 1}`);

            if (ingredientCounter > 0) {
                parent.removeChild(removeQuantity);
                parent.removeChild(removeInput);
                parent.removeChild(removeBr);

            }
            
            ingredientCounter -=1;
            //console.log(`ingredient-${ingredientCounter-1}`)
        });
        
    }

    // ----------------- ADD METHOD TEXT FIELD ON CLICK ------------- //
    const addStep = (button, parent) => {

        button.addEventListener('click', (e) => {    

            if (methodCounter <= 25) {

                const stepNumber = new createElement();
                const step = new createElement('Step', methodCounter);
                const br = new createElement('Step', methodCounter);

                parent.appendChild(stepNumber.createStepNumber(methodCounter));
                parent.appendChild(step.createInput());
                parent.appendChild(br.createBr());
            }
            
            console.log(methodCounter);
            methodCounter += 1;
            
        });

    }

    // ----------------- REMOVE METHOD TEXT FIELD ON CLICK ------------- //
    const removeStep = (button, parent) => {

        button.addEventListener('click', (e) => {
            
            const removeInput = document.getElementById(`Step-${methodCounter -1}`);
            const removeBr = document.getElementById(`br-Step-${methodCounter -1}`);
            const removeStepNumber = document.getElementById(`s-${methodCounter - 1}`);
            
            if (methodCounter > 0) {

                parent.removeChild(removeStepNumber);
                parent.removeChild(removeInput);
                parent.removeChild(removeBr);

            }
            
            methodCounter -=1;
            //console.log(`ingredient-${ingredientCounter-1}`)
        });

    }

   


    // WRITE A LOOP FOR THIS //
    totalCharacters('recipe-title-counter',150);
    totalCharacters('recipe-description-counter',250);
    totalCharacters('cuisine-description-counter',160);
    totalCharacters('course-description-counter',160);

    characterCounter('RecipeTitle','recipe-title-counter',150 );
    characterCounter('RecipeDescription','recipe-description-counter', 250);
    characterCounter('Cuisine','cuisine-description-counter',160);
    characterCounter('Course','course-description-counter', 160);

    addAnIngredient(addIngredientButton, ingredients);
    removeIngredient(removeIngredientButton, ingredients);
    addStep(addStepButton, method);
    removeStep(removeStepButton, method);
      
</script>

{% endblock %}