<!-- PARTIAL DISPLAYING EDIT RECIPE FORM -->
{% extends 'base.html' %}
{% block js %}
<script defer src="{{ url_for('static', filename='js/scripts/edit_recipe.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<body>
{% include 'full_header.html'%}
    <div class='full-recipe-container'>
        <h2 class='full-recipe-page-title'>Update your Recipe</h2>
        <section class='full-recipe add-recipe--width'>
            <form action="{{ url_for('updating_recipe', username=username, recipe_id=recipe_id) }}" method='POST'>
                <fieldset class='full-recipe__form-main-details'>
                    <legend class='full-recipe__title'>Main Details</legend>
                    <div class="full-recipe__row">
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Recipe Title </label>
                            <input class='full-recipe__input full-recipe__input-recipe-title'type='text' id='RecipeTitle' placeholder='Recipe Title' name='RecipeTitle' value="{{ full_recipe[1][0]['RecipeTitle']}}" maxlength='50'required>
                        </div>
                    </div>
                    <div class='full-recipe__row'>
                        <p class='full-recipe__text full-recipe__row-add-recipe' id='recipe-title-counter'></p>
                    </div>
                    <div class='full-recipe__row'>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Brief Description</label> 
                            <textarea class='full-recipe__text-area' id='RecipeDescription' placeholder='Description' name='RecipeDescription' maxlength='150' required>{{ full_recipe[1][0]['RecipeDescription'] }}</textarea>
                        </div>
                    </div>
                    <div class='full-recipe__row'>
                        <p class='full-recipe__text full-recipe__row-add-recipe' id='recipe-description-counter'></p>
                    </div>
                </fieldset>
                <fieldset class='full-recipe__form-stats'>
                    <legend class='full-recipe__title'>Stats</legend>
                    <div class='full-recipe__row'>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Cuisine</label>
                            <input class='full-recipe__input full-recipe__input-ingredient' type='text' id='Cuisine' placeholder='Cuisine' name='CuisineName' value="{{ full_recipe[1][0]['CuisineName'] }}" maxlength='50' required>
                            <div class='full-recipe__row'>
                                <p class='full-recipe__row-add-recipe' id='cuisine-description-counter'></p>
                            </div>
                        </div>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Course</label>
                            <select class='full-recipe__course-dropdown'name="CourseName">
                                <option value="Breakfast">Breakfast</option>
                                <option value="Brunch">Brunch</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Supper">Supper</option>
                                <option value="Dessert">Dessert</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class='full-recipe__row'>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Cooking Time (mins)</label>
                            <div>
                                <input class='full-recipe__input full-recipe__numeric-input' type='number' id='CookingTime' value="{{ full_recipe[1][0]['CookingTimeMins']}}" step ='1' name='CookingTimeMins' min='0' max='1440' required>
                            </div>
                        </div>
                    </div>
                    <div class='full-recipe__row'>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Calories</label>
                            <input class='full-recipe__input full-recipe__numeric-input' type='number' id='Calories' placeholder='Number of Calories' value="{{full_recipe[1][0]['Calories']}}" name='Calories' min='0' max='20000' required>
                        </div>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Cost (£)</label>
                            <input class='full-recipe__input full-recipe__numeric-input' type='number' id='Cost' placeholder='Total Cost to Nearest Pound' value="{{ full_recipe[1][0]['Price'] }}" name='Cost' min='0' max='10000' required>
                        </div>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Total Servings</label>
                            <input class='full-recipe__input full-recipe__numeric-input' type='number' id='Servings' placeholder='Total Servings' value="{{ full_recipe[1][0]['Servings'] }}" name='Servings' min='0' max='1000' required>
                        </div> 
                    </div>
                    <div class='full-recipe__row'>
                        <div class='full-recipe__column-add-recipe'>
                            <label class='full-recipe__form-label'>Share Recipe</label>
                            {% if full_recipe[1][0]['MakePublic'] == 1 %}
                            <div>
                                <input class='full-recipe__input' type='radio' id='MakePublicYes' name='MakePublic' value='1'required checked><label class='full-recipe__form-label'> Yes</label>
                            </div>
                            <div>
                                <input class='full-recipe__input' type='radio' id='MakePublicNo' name='MakePublic' value='0' required><label class='full-recipe__form-label'> No</label>
                            </div>
                            {% elif full_recipe[1][0]['MakePublic'] == 0 %}
                            <div>
                                <input class='full-recipe__input' type='radio' id='MakePublicYes' name='MakePublic' value='1'required><label class='full-recipe__form-label'> Yes</label>
                            </div>
                            <div>
                                <input class='full-recipe__input' type='radio' id='MakePublicNo' name='MakePublic' value='0' required checked><label class='full-recipe__form-label'> No</label>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </fieldset>
                <fieldset class='full-recipe__form-ingredients' >
                    <legend class='full-recipe__title'>Ingredients</legend>
                    <div>
                        <button class='full-recipe__add-button' type='button' id='add-ingredient'>Add</button><button class='full-recipe__remove-button' type='button' id='remove-ingredient'>Remove</button>
                    </div>
                    <div id='ingredients'>
                        {% for ingredient in full_recipe[2] %}
                        <input class='full-recipe__input-ingredient' id='Quantity-{{ loop.index }}' name='Quantity' placeholder='Quantity' type='text' value="{{ ingredient['Quantity'] }}"required>
                        <input class='full-recipe__input-ingredient edit-ingredient' id='Ingredient-{{ loop.index }}' name='Ingredient' placeholder='Ingredient' type='text' value="{{ ingredient['IngredientName'] }}"required>
                        <br id='br-Ingredient-{{ loop.index }}'>
                        {% endfor %}
                    </div>
                </fieldset>
                <fieldset class='full-recipe__form-method'>
                    <legend class='full-recipe__title'>Method</legend>
                    <div>
                        <button class='full-recipe__add-button' type='button' id='add-step'>Add</button><button class='full-recipe__remove-button'type='button' id='remove-step'>Remove</button>
                    </div>
                    <div id='method'>
                        {% for method in full_recipe[3] %}
                        <input class='full-recipe__numeric-input' id='s-{{ loop.index }}' min='{{ loop.index }}' max='{{ loop.index }}' name='StepNumber' type='number' value='{{ loop.index }}'required>
                        <input class='full-recipe__input-step edit-method' id='Step-{{ loop.index }}' name='Step' placeholder='Step' type='text' value="{{ method['StepDescription'] }}"required>
                        <br id='br-Step-{{ loop.index }}'>
                        {% endfor %}
                    </div>   
                </fieldset>
                <div class='full-recipe__create-submit'>
                    <button class='form-submit' id='add-recipe' type='submit'>Update</button>
                </div>
            </form>
        </section>
    </div>
    {% include 'footer.html' %}
</body>
{% endblock %}