<header id='header' class='header header--relative'>
    <div id='burger-menu' class='bars'>
        <div class="bars__bar1"></div>
        <div class="bars__bar2"></div>
        <div class="bars__bar3"></div>
    </div>
    <nav id='side-bar' class='side-bar-wrapper'>
        <ul class='nav-side-bar'>
            <li><a href="{{ url_for('add_recipe', username=username) }}">Create</a></li>
            <li><a href="{{ url_for('my_recipme', username=username) }}" >My Recipes</a></li>
            <li><a href="{{ url_for('public', username=username) }}" >Shared Recipes</a></li>
            <li> <a href="{{ url_for('index')}}">Log Out</a></li>
        </ul>
    </nav>
    <nav class='desktop-nav'>
        <ul >
            <li><a href="{{ url_for('add_recipe', username=username) }}">Create</a></li>
            <li><a href="{{ url_for('my_recipme', username=username) }}" >My Recipes</a></li>
            <li><a href="{{ url_for('public', username=username) }}" >Shared Recipes</a></li>
            <li> <a href="{{ url_for('index')}}">Log Out</a></li>
        </ul>
    </nav>
    <div class='title-container-recipme'>
        <h1 class='title'><a href="{{ url_for('my_recipme', username=username) }}">Recipme.</a></h1>
    </div>
</header>
