{% extends 'base.html'%}
{% block content %}

<div class='title-container'>
    <h1 class='title'>Recipme.</h1>
</div>
<div class='background-image'>
    <div class='forms-container'>
        <div>
            <form action="{{ url_for('signup') }}" method='POST'>
                <fieldset class='signup'>
                    <!--<legend class='signup__legend'>Sign Up.</legend>-->
                    <!--<label class='signup__label'></label>-->
                    <br>
                    <input class='signup__input' type='text' id='Username' placeholder='Username' name='Username'>
                    <br>
                    <!--<label class='signup__label'>First name</label> -->
                    <br>
                    <input class='signup__input' type='text' id='First' placeholder='First Name' name='First'>
                    <br>
                    <!--<label class='signup__label'>Last name</label> -->
                    <br>
                    <input class='signup__input' type='text' id='Last' placeholder='Last Name' name='Last'>
                    <br>
                <!-- <label class='signup__label'>Password</label> -->
                    <br>
                    <input class='signup__input' type='password' id='Password' placeholder='Password' name='Password'>
                    <br>
                    <input class='signup__button' type='submit' value='Sign Up'>
                </fieldset>
            </form>
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <span class='flash'>{{ messages[0] }}</span>
        {% endif %}
        {% endwith %}
        <br>
        <div>   
            <form action="{{ url_for('login') }}" method='POST'>
                <fieldset class='login'>
                    <!--<legend class='login__legend'>Login.</legend>-->
                <!-- <label class='login__label'>Username</label> -->
                    <br>
                    <input class='login__input' type='text' id='Username' placeholder='Username' name='Username'>
                    <br>
                    <!--<label class='login__label'>Password</label>--> 
                    <br>
                    <input class='login__input' type='password' id='Password' placeholder='Password' name='Password'>
                    <br>
                    <input class='login__button' type='submit' value='Login'>
                </fieldset>
            </form>
        </div>
        <!--
        <div>
            <h3>Total Cuisines</h3>
            <div id='cuisine-chart'></div>
        </div>
        <div >
            <h3>Total Courses</h3>
            <div id='course-chart'></div>
        </div>-->
    </div>
</div>
{% endblock %}
{% block js %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/scripts/login.js') }}"></script>
{% endblock %}