{% extends 'base.html'%}
{% block js %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.js"></script>
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
<!--<script type='text/javascript' src="{{ url_for('static', filename='js/scripts/utility.js') }}"></script>-->
<script defer type='text/javascript' src="{{ url_for('static', filename='js/scripts/login.js') }}"></script>
{% endblock %}
{% block content %}
<body class='login-body'>
    <header id='header' class='header'>
        <div class='title-container'>
            <h1 class='title'>Recipme.</h1>
        </div>
    </header>
    <div class='login-content-wrapper'>
        <section class='title-image-container'>
            <div class='title-image'>
            </div>
        </section>
        <section>
            <div id='sting' class='sting'>
                <h2 class='sting__heading'> Create. Cook. Share. </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p class='flashed'> {{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </section>
       <section>
            <div id='forms-container' class='signup-container forms-login-display'>
                <form id='signup' class='signup signup--color' action="{{ url_for('signup') }}" method='POST'>
                    <input class='signup__input' type='text' placeholder='Username' name='Username' maxlength='50' required>
                    <input class='signup__input' type='text' id='First' placeholder='First Name' name='First' maxlength='30' required>
                    <input class='signup__input' type='text' id='Last' placeholder='Last Name' name='Last' maxlength='30'required>
                    <input class='signup__input' type='password' placeholder='Password' name='Password' maxlength='30' required>
                    <div class='signup__button-container'>
                        <button id='signup-button' class='signup__button dropdown' type='submit'>Sign Up</button>
                    </div>
                </form>
            </div>
        </section>
        <section class='join-us'>
            <button id='join-us-button' class='join-us__button' type='button'>Join Us. <i class="fas fa-user-plus"></i> </button>
            <p class='join-us__text'>
                Contribute to our growing online cookbook.Entirely created by you!  <br>
                Create your own recipes, publish your favourites, browse the community, get feedback,
                give feedback and most of all, have fun!
            </p>
        </section>
        <section>
            <div class='login-container'>
                <form action="{{ url_for('login') }}" method='POST'>
                    <fieldset id='login'class='login'>
                        <input class='login__input' type='text' placeholder='Username' name='Username' required>
                        <input class='login__input' type='password' placeholder='Password' name='Password' required>
                        <div class='login__button-container'>
                            <button id='login-button' class='login__button dropdown' type='submit'>Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div id='more-info-container' class='more-info'>
                <button id='more-info' class='more-info-button' type='button'>More info. <i class="fas fa-info-circle"></i> </button>
            </div>
        </section>
        <section id='stats' class='stats stats--color'>
            <p class='stat__stats'><span class='stat__value'>{{ stats[2]['TotalUser'] }}</span><br> Active Users.</p> <br> 
            <p class='stat__stats'><span class='stat__value'>{{ stats[0]['TotalRecipe'] }}</span><br>Total Recipes.</p><br>
            <p id='stat-scroll' class='stat__stats'><span class='stat__value'>{{ shared }}%</span><br>Of all Recipes are Shared!</p>
            <h3 class='stats__label'>Our users favourite Courses.</h3>
            <div id='course-chart'>
            </div>
            <h3 class='stats__label'>Our users favourite Cuisines.</h3>
            <div id='cuisine-chart'></div>
        </section>
    </div>
</body>
{% endblock %}
