{% extends 'base.html'%}
{% block content %}
    <h1>Welcome to RecipMe</h1>
    <h2>Login</h2>
    <form method='POST'>
        <fieldset>
            <legend>Login Details</legend>
            Username: <br>
            <input type='text' id='Username' placeholder='Username' name='Username' value=''>
            <br>
            Password: <br>
            <input type='text' id='Password' placeholder='Password' name='Password' value=''>
            <br>
            <input type='submit' value='Login'>
        </fieldset>
    </form>
</body>
{% endblock %}