{% block mini_recipe %}
{{ pagination.links }}
<div class="container">
    {{ pagination.info }}
    {% for recipe in results %}
    <br>
    {{ loop.index + (page - 1) * per_page }}
    <h2>{{ recipe['RecipeTitle']}}</h2>
    <h3>Description</h3>
    <p>{{ recipe['RecipeDescription']}}</p>
    <h3> Recipe Stats </h3>
    <p><strong>Cuisine</strong>:{{ recipe['CuisineName'] }}.</p>
    <p><strong>Course</strong>: {{ recipe ['CourseName'] }}.</p>
    <p><strong>Total cooking time</strong>: {{ recipe['CookingTimeMins']}} minutes.</p>
    <p><strong>Cost</strong>: £{{ recipe['Price'] }}.</p>
    <p><strong>Servings</strong>: {{ recipe['Servings'] }}.</p>
    <p><strong>Estimated Calories</strong>: {{ recipe['Calories'] }}.</p>
    <h3>RecipMe Author</h3>
    <p>Recipe created by: <strong>{{ recipe['Author'] }}</strong> at {{ recipe['Created'] }}.</p>
    <form action = "{{ url_for('full_redirect', username=username)}}" method='POST'>
        <button type='submit' name='RecipeId' value="{{ recipe['RecipeId']}}">Full RecipMe</button>
    </form>
    <hr>
    {% endfor %}
  
</div>
{{ pagination.links }}

{% endblock mini_recipe %}
