{% extends 'base.html' %}
{% block content %}
<div>
    <h1><a href="{{ url_for('my_recipme', username=username)}}">My RecipMe.</a></h1>
    <p>Welcome {{ username }}!</p>
    <h2>View your RecipMe's.</h2>
    <p>Search all of your cookbook, search by Cuisine, Course, or by Ingredient.</p>
</div>
<div></div>
<a href="{{ url_for('add_recipe', username=username) }}">Create a New RecipMe</a>
<a href="{{ url_for('all_myrecipme', username=username)}}"> Get All My RecipeMe</a>
<a href="">Course</a>
<a href="">Cuisine</a>
<a href="{{ url_for('index')}}">Log Out</a>
<h3>Search by Ingredient.</h3>
<form action = "{{ url_for('ingredient_search', username=username)}}" method='POST'>
    <input type='text' placeholder='Ingredient' name='Ingredient' required maxlength="50">
    <input type='submit' value='Search MyRecipMe'>
</form>

<p> IMAGE OF FOOD HERE </p>
{% endblock %}