<!-- PARTIAL OF THE DROP DOWN SELECT BOXES USED IN EACH SEARCH -->
<div class='search-sort'>
    <select name="SortBy">
    <!--<option value="RecipeTitle">Sort By:</option>-->
        <option value="RecipeTitle">A to Z</option>
        <option value="CookingTimeMins">Cooking Time</option>
        <option value="Created">Created Date</option>
        <option value="Price">Cost</option>
        <option value="Servings">Servings</option>
        <option value="Calories">Calories</option>
    </select>
    <select name="Direction">
        <option value="asc">Ascending</option>
        <option value="desc">Descending</option>
    </select>
</div>