{% extends 'base.html'%}
{% block content %}
    <h1>Welcome to RecipMe</h1>
    <h2>Sign Up</h2>
    <form action="{{ url_for('signup') }}"method='POST'>
        <fieldset>
            <legend>Sign Up</legend>
            Username: <br>
            <input type='text' id='Username' placeholder='Username' name='Username' value=''>
            <br>
            First name: <br>
            <input type='text' id='First' placeholder='First Name' name='First' value=''>
            <br>
            Last name: <br>
            <input type='text' id='Last' placeholder='Last Name' name='Last' value=''>
            <br>
            Password: <br>
            <input type='text' id='Password' placeholder='Password' name='Password' value=''>
            <br>
            <input type='submit' value='Sign Up'>
        </fieldset>
    </form>
    <br>
    <p>Username already taken, please enter a unique username</p>
    <br>
    <h2>Login</h2>
    <form action="{{ url_for('login') }}" method='POST'>
        <fieldset>
            <legend>Login Details</legend>
            Username: <br>
            <input type='text' id='Username' placeholder='Username' name='Username'>
            <br>
            Password: <br>
            <input type='text' id='Password' placeholder='Password' name='Password'>
            <br>
            <input type='submit' value='Login'>
        </fieldset>
    </form>   
</body>
{% endblock %}