@import 'helpers/variables';
@import 'helpers/colors';
@import 'helpers/fonts';
@import 'helpers/media_queries';
@import 'helpers/global_resets';
@import 'partials/forms';
@import 'partials/buttons';

//------------------ LOGIN PAGE -------------------//

.header {

    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}

.sticky {

    top:-6rem;
}

//------------------------------------------------//

.login-content-wrapper {

    position: relative;
    top: 4.1rem;

}

.title-image {

    background-image: url('../images/bright-1418280-pxhere.com-65percent.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 34rem;
    width: 90%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

    @include mobile {

        height: 15rem;
    }

    @include tablet {

        height: 34rem;
    }
}

// BLURB //
.title-image-container {

    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.sting {

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sting--style {

    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.26);
}

.sting__heading,
.sting__text {

    font-family: $nanum;
}

.sting__heading {

    font-size: 1.3rem;
    color: $title-color;
 
}

.sting__text {

    width: 18rem;
    text-align: center;
    font-size: 1rem;
    color: $title-color;
}

.title-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.title {

    font-family: $pacifico;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 0.5rem;
    color: $title-color;
}

// LOGIN PAGE FORMS //

.signup-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    max-height: 20rem;
    overflow: hidden;
    background-color: $carousel-inner;
    transition: max-height $dropDownTransition;
  
}

.login-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.forms-login-display {

    max-height: 0rem;
    transition: max-height $dropDownTransition;
}

.login__label, 
.signup__label {

    font-family: $nanum; 
    padding-bottom: 0.5rem;

}

.login__legend, 
.signup__legend {

    font-family: $nanum;
    font-size: 2rem;

}

.signup, .login { 

   @include login-page-forms;
   padding: 0;
   max-height: 0rem;
   overflow: hidden;
   background-color: #e9ef8200;
   transition: max-height $dropDownTransition, 
                padding $dropDownTransition;
}

.show-login-form {

    padding: 0.5rem;
    max-height: 10rem;
    transition: max-height $dropDownTransition, 
                            padding $dropDownTransition;
   
}

.show-signup-form {

    padding: 0.5rem;
    max-height: 10rem;
    transition: max-height $dropDownTransition, 
                padding $dropDownTransition;
   
}


.signup__input,
.login__input {

    @include form-input;
    width: 11rem;
    color: $title-color;
    background-color: #e9ef8200;
}

//-------------- LOGIN/SIGNUP BUTTONS -----------------//

.signup-submit,
.login-submit {

    display: flex;
    flex-direction: row;
    justify-content: center;
}


.login__button {

    @include form-button;
    margin-top: 1.5rem;
    transition: width 0.3s $dropDownTransition; 
    background-color: #1d3355;
    color: #fff;
        
}

.login__button:hover {

    width: 4rem;
}

.login__button--click {

    border: 1px solid $title-color;
    background-color: #fff;
    color:$title-color;
    width: 4rem;
}


.signup__button {

    @include form-button;
    margin-top: 0.5rem;
    transition: width 0.3s $dropDownTransition;
    background-color:#fdd664;
    color: $title-color;
}

.signup__button:hover {

    width: 4rem;
}

.signup__button--click {

    border: 1px solid $title-color;
    background-color: #e7e9ca4d;
    color: $title-color;
    width: 4rem;

}

.flash {

    display: block;
    position: relative;
    z-index: 1;
    font-family: $nanum;
    background-color: #fff;
}

//--------------------- INFO --------------------------- //

.join-us__button {

    border: 0;
    border-bottom: 1px solid $title-color;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #fff;
    transition: border 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.join-us__button:hover {

    cursor: pointer;
}

.join-us {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.join-us--style {

    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.join-us__text {

    text-align: center;
    width: 90%;
}

.join-us__title {

    font-size: 1rem;
}

.more-info {

    @extend .join-us;
    padding-bottom: 2rem;
}

.more-info--style {

    box-shadow: 0px 2.5px 1px 1px rgba(0, 0, 0, 0.16)
}
.more-info-button {

    @extend .join-us__button;
}

.more-info-button:hover {

    @extend .join-us__button:hover;
}

.stats {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height:0;
    overflow: hidden;
    padding-bottom: 0rem;
    background-color:$carousel-inner;;
    transition: max-height $dropDownTransition, padding-bottom $dropDownTransition;
}

.stats-show {

    max-height: 60rem;
    padding-bottom: 2rem;
    transition: max-height $dropDownTransition, padding-bottom $dropDownTransition;
    

}

.stat__stats {

    text-align: center;
    font-size: 1rem;
}

.stat__value {
    font-size: 4rem;
}

// CHARTS //

.dc-chart .pie-slice {

    font-family: $nanum;
    font-size: 0.8rem;
}

.stats__label {

    font-size: 1.2rem;
}

// FLASHED MESSAGES //

.flashed {

    color: #dd1414;
    margin-top: 0;
}

//------------------------------------ MY RECIPE PAGE -------------------------------------------//