@import 'helpers/variables';
@import 'helpers/colors';
@import 'helpers/fonts';
@import 'helpers/media_queries';
@import 'helpers/global_resets';
@import 'partials/forms';
@import 'partials/buttons';
@import 'partials/component';


//--------------------------- HEADER ---------------------------//
.header {

    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}

.header--relative {

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    
}

.sticky {

    top:-6rem;
}


.title-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.title-container-recipme {

    left: 50%;
    position: relative;
    transform: translateX(-50%);
}


//  MENU ICON //

.bars {

    @include bars-container;
    
    @include desktop {

        display: none;
    }
}

.bars__bar1, .bars__bar2, .bars__bar3 {

   @include bars;
}

.alter .bars__bar1 {

    transform: rotate(-65deg) translate(-0.4rem, 0.4rem);
    
}


.alter .bars__bar2 {

    opacity: 0;
}


.alter .bars__bar3 {

    transform: rotate(425deg) translate(-0.6rem, 0.2rem);
}

// SIDE BAR //

.nav-side-bar {

    @include side-bar;
  
}

.nav-side-bar li {

    padding-bottom: 0.5rem;
   
}

.nav-side-bar li a{

    color: #fff;
    border-bottom: 1px solid $side-bar;
    transition: border-bottom 0.3s ease-in-out;
}

.nav-side-bar li a:hover {

    border-bottom: 1px solid #fff;
}

.side-bar-wrapper {

    @include side-bar-wrapper;

    @include desktop {

        display: none;
    }
       
}

.show-side-bar {

    left: 0rem;

}

//------------------------------------------------//

//-------------------- DESKTOP NAV ----------------//

.desktop-nav {

    display: none;
    position: absolute;
    //left: 61vw;
    
    @include desktop {

        display: inline-block;
        left: 1rem;
    }
}

.desktop-nav ul {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 19rem;
    padding-left: 0rem;
    margin-bottom: 1rem;
}

.desktop-nav li {

    list-style: none;
    color: $title-color;
    border-bottom: 1px solid #fff;
    transition: border-bottom 0.3s ease-in-out;
}

.desktop-nav li:hover {

    border-bottom: 1px solid $title-color;
}
//--------------------------------------------------//
.title,
.title a {

    font-family: $pacifico;
    font-size: 2rem;
    margin: 0;
    padding-bottom: 0.5rem;
    color: $title-color;
}

//-------------------- FOOTER --------------------//

footer {

    height: 8rem;
    width: 100%;
    background-color: $title-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    //margin-top: 2rem;
    align-items: center;
    
}

footer p {

    color: #fff;
}
//------------------------------------------------//
//------------------ LOGIN PAGE -------------------//
.login-content-wrapper {

    position: relative;
    top: 4.1rem;

}

.title-image {

    background-image: url('../images/bright-1418280-pxhere.com-65percent.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 34rem;
    width: 90%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

    @include mobile {

        height: 15rem;
    }

    @include tablet {

        height: 34rem;
    }
}

// BLURB //
.title-image-container {

    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.sting {

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sting--style {

    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.26);
}

.sting__heading,
.sting__text {

    font-family: $nanum;
}

.sting__heading {

    font-size: 1.3rem;
    color: $title-color;
 
}

.sting__text {

    width: 18rem;
    text-align: center;
    font-size: 1rem;
    color: $title-color;
}


// LOGIN PAGE FORMS //

.signup-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
    height: 12rem;
    overflow: hidden;
    background-color: $accordian-inner;
    //transition: max-height $dropDownTransition;
  
}

.login-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.forms-login-display {

    max-height: 0rem;
    transition: max-height $dropDownTransition;
}

.login__label, 
.signup__label {

    font-family: $nanum; 
    padding-bottom: 0.5rem;

}

.login__legend, 
.signup__legend {

    font-family: $nanum;
    font-size: 2rem;

}



.signup { 

   @include login-page-forms;
   padding: 0;
   height: 0rem;
   overflow: hidden;
   background-color: #e9ef8200;
   transition: height $dropDownTransition, 
                padding $dropDownTransition;
}

.login { 

    @include login-page-forms;
    padding: 0;
    overflow: hidden;
    background-color: #e9ef8200;
 }

.show-login-form {

    padding: 0.5rem;
    //height: 10rem;
    //transition: max-height $dropDownTransition, 
      //                  padding $dropDownTransition;
   
}

.show-signup-form {

    padding: 0.5rem;
    height: 9rem;
    transition: height $dropDownTransition, 
                padding $dropDownTransition;
   
}

.signup__input,
.login__input {
    
    @include form-input;
    width: 11rem;
    color: $title-color;
    background-color: #e9ef8200;
}



.flash {

    display: block;
    position: relative;
    z-index: 1;
    font-family: $nanum;
    background-color: #fff;
}

//--------------------- INFO --------------------------- //

.join-us {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.join-us--style {

    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}

.join-us__text {

    text-align: center;
    width: 90%;
}

.join-us__title {

    font-size: 1rem;
}

.more-info {

    @extend .join-us;
    padding-bottom: 2rem;
}

.more-info--style {

    box-shadow: 0px 2.5px 1px 1px rgba(0, 0, 0, 0.16)
}

.join-us__button {

    @include join-us-button;
}

.join-us__button:hover {

    cursor: pointer;
}

.more-info-button {

    @extend .join-us__button;
}

.more-info-button:hover {

    @extend .join-us__button:hover;
}

/*.signup-submit,
.login-submit {

    display: flex;
    flex-direction: row;
    justify-content: center;
}*/


.login__button {

    @include form-button;
    margin-top: 1.5rem;
    background-color: #1d3355;
    color: #fff;
    transition: background-color 0.1s ease-in-out;
    //padding-right: 0;   
}

/*.login__button-container,
.signup__button-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
}*/

.login__button:hover {

    cursor: pointer;
}

.login__button--click {

    @include login-click;
}


.signup__button {

    @include form-button;
    margin-top: 0.5rem;
    background-color:$side-bar;
    color: $title-color;
    transition: background-color 0.1s ease-in-out;
}

.signup__button--click {

    @include signup-click;
    
    color: $side-bar;
    border: 1px solid $side-bar;
}

.signup__button:hover {

    cursor: pointer;

}

.stats {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height:0;
    overflow: hidden;
    padding-bottom: 0rem;
    background-color:$accordian-inner;;
    transition: max-height $dropDownTransition, padding-bottom $dropDownTransition;
}

.stats-show {

    max-height: 60rem;
    padding-bottom: 2rem;
    transition: max-height $dropDownTransition, padding-bottom $dropDownTransition;
    

}

.stat__stats {

    text-align: center;
    font-size: 1rem;
}

.stat__value {
    font-size: 4rem;
}

// CHARTS //

.dc-chart .pie-slice {

    font-family: $nanum;
    font-size: 0.8rem;
}

.stats__label {

    font-size: 1.2rem;
}

// FLASHED MESSAGES //

.flashed {

    color: #dd1414;
    margin-top: 0;
}

//------------------------------------ MY RECIPE PAGE -------------------------------------------//

.login-info {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.login-info p {

    padding-right: 1rem;
}

.login-info h2 {
    
    font-family: $nanum;
    padding-left: 1rem;
    font-size: 1.2rem;
    color: $title-color;
}

.my-recipme__instructions {

    text-align: center;

}
.public {

    display: none;
}

//------------------------------------ MY RECIPE PAGE -------------------------------------------//


.myrecipme-container {

    min-height: calc(100vh - 12rem);

    @include desktop {

        display: flex;
        flex-direction: column;
        align-content: center;
        width: 80%;
        position: relative;
        left: 10%;
       
    }
}

.search-instructions p { 

    text-align: center;

}

.search-forms-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $accordian-inner;
    margin-bottom: 2rem;

}

.search-buttons-container--show {

    min-height: 14rem;

}

.ingredient {

    max-height: 20rem;
    transition: max-height $dropDownTransition;
    background-color: $accordian-inner;

    @include large {

        max-height: 17rem;
    }
}

.ingredient__form-container {

    padding-top: 1rem;
}
.ingredient__form {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.ingredient__submit-container {

    padding-bottom: 1rem;
}

.ingredient__submit,
.all-recipe__submit,
.saved-recipe__submit,
.cuisine__submit,
.course__submit {

    @include form-button;
    background-color: $side-bar;
    cursor: pointer;
    margin: 0.3rem;
}

.all-recipe__form,
.saved-recipe__form,
.cuisine__form,
.course__form {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    max-width: 27rem;
    
}

.search-forms__instructions {

    text-align: center;
   
}

.search-form--hide {

    max-height: 0rem;
    overflow: hidden;
    padding: 0rem;
}

.search-sort {

    display: inline-block;
    padding: 1rem;
}

.search-buttons-container {

    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
}

.search-buttons {

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
   
}


.search-buttons__button {

    @include form-button;
    background-color: $title-color;
    color: #fff;
    margin:0.5rem;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

}

.search-buttons__ingredient {

    @extend .search-buttons__button;
}

.search-buttons__ingredient--hide {

    display: none;
}

.search-buttons__button--active {

    @include category-button-active;

}
.course__button,
.cuisine__button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.search-buttons__button--clicked {

    @include search-button-click;
}

select {

    @include select;
}

.fa {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 1rem;

}

.fa__icon {

    font-size: 1rem;
    color: $title-color;
    border: 1px solid $title-color;
    padding: 1rem;
   
    border-radius: 10px;
}

.my-recipe-banner-image-helper {

    background-image: url("../images/spice-still-1433265-60pecent-pxhere.jpg");

}

.shared-banner-image-helper {

    background-image: url("../images/23295-pxhere-80percentjpg.jpg");

}

.banner-image-styles-helper {

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    width: 100%;
    height: 7rem;

    @include large {

        box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
        height: 17rem;
    }

}

.myrecipme-image {

    @extend .my-recipe-banner-image-helper;
    @extend .banner-image-styles-helper;
}

.shared-image {

    @extend .shared-banner-image-helper;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    width: 100%;
    height: 7rem;

    @include large {

        box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.75);
        height: 17rem;
    }

}

// --------------------------- SEARCH RESULTS STYLES --------------------- //

.results {

    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results__reset {

    @include form-button;
    background-color: $title-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid $title-color;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    color: #fff;
}

.results__reset--clicked {

    color: $title-color;
    background-color: #fff;
    border: 1px solid $title-color;
}

.results__heading {

    font-family: $nanum;
   // padding-left: 1rem;
    font-size: .8rem;
    color: $title-color;
    text-align: center;
}

//----------------- PAGINATION STYLES ---------------------------//

.pagination {

    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 1rem;
}

.pagination li,
.pagination li a {

    font-family: $nanum;
    color: $title-color;
    padding: .5rem;
    font-size: 0.8rem;
}


//-------------------- RESULTS STYLES ----------------------------//

.results-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $accordian-inner;
    margin-bottom: 2rem;

    @include desktop {

        display: flex;
        flex-direction: row;
        overflow: scroll;
        justify-content: flex-start;
    }
}

.results-container--two {

    @include desktop {

        display: flex;
        flex-direction: row;
        overflow: scroll;
        justify-content: center;
    }
}

.results-container--three {
    
    @include desktop {

        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
        overflow: scroll;
        justify-content: left;
    }

    @include large {
        
        justify-content: center;
    }
   
}

.results-recipe {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.results-recipe__info {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 3px 4px 8px 2px rgba(0, 0, 0, 0.26);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    min-width: 14rem;
    
    @include tablet {

        min-width: 18rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.results-recipe__info p {

    font-size: 0.7rem;

}

#results-recipe__author {

    margin-bottom: .5rem;
}


.pagination-page-info {

    font-family: $nanum;
    font-size: .8rem;
    text-align: center;
    color: $title-color;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    
}
.results-recipe__title {

    @extend.results__heading;
    text-align:left;
    font-family: $pacifico;
}

.results-recipe__category {

    font-size: 0.8rem;

}

.full-recipe-button {

    padding-bottom: 1rem;
}

.full-recipe-button__button {

    @include form-button;
    background-color: $side-bar;
    color: $title-color;
    
}

.full-recipe-button__button:hover {

    cursor: pointer;
}

.full-recipe-button__button--clicked {

    @include search-button-click;
}

.results-recipe__row {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.results-recipe__row--grey-background {

    background-color: $accordian-inner;
}
.results-recipe__column{

    width: 50%;
}
//------------- IF NO RECIPES ARE FOUND, THESE STYLES APPLY --------------------//
.no-recipes {

    height: 5rem;
    background-color: $accordian-inner;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.no-recipes p {

    text-align: center
}

.mini-recipe-break {

    margin-bottom: 1rem;

    @include desktop {

        display: none;
    }
}

//---------------------------------------------------------------------------------//

// ------------------------- FULL RECIPE PAGE -------------------------------------//

.full-recipe-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $accordian-inner;
    min-height: calc(100vh - 12rem);

}

.full-recipe {

    background-color: #fff;
    padding: 1rem;
    box-shadow: 7px 9px 9px -4px rgba(0, 0, 0, 0.26);
    margin-bottom: 2rem;
    width: 90%;

    @include tablet {

        width: 60%;
    }

    @include desktop {

        width: 40%;
        box-shadow: 7px 9px 9px -4px rgba(0, 0, 0, 0.26)
    }

    @include large {

        width: 30%;
        box-shadow: 7px 9px 9px -4px rgba(0, 0, 0, 0.26);
       
    }
}

.full-recipe-page-title {

    font-family: $nanum;
    color: $title-color;
    border-bottom: 1px solid $title-color;
    text-align: center;
}

.full-recipe__title {

    @extend.title;
    font-size: 1.5rem;
    padding-left: .5rem
}

.full-recipe__author {

    padding-left: .5rem;
}

.full-recipe__subtitle {

    font-size: 1rem;
}

.full-recipe__row {

    @extend.results-recipe__row;
}

.full-recipe__row--grey-background {

    background-color: $accordian-inner;
}

.full-recipe__column {

    @extend.results-recipe__column;
    padding-left: .5rem;
}

.full-recipe__text {

    font-size: .8rem;
    
}
.full-recipe__ingredients ol li,
.full-recipe__method ol li {

    font-family: $nanum;
    font-size: .8rem;
    color: $title-color;
    //list-style: none;
    padding-left: 0rem;
}

.full-recipe__description p {

    padding-left: .5rem;
}

.full-recipe__row--margin--bottom {

    margin-bottom: 1rem;
}

.full-recipe__description h3,
.full-recipe__ingredients h3,
.full-recipe__method h3 {

    padding-left: .5rem;
}

.full-recipe-break {

    margin-top: 1rem;
}
// --------------------------- FULL RECIPE COMMENTS FORMS ETC ----------------------- //

.save-recipe {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 7px 9px 9px -4px rgba(0, 0, 0, 0.26);


    @include tablet {

        width: 60%;
    }

    @include desktop {

        width: 40%;
        
    }

    @include large {

        width: 30%;
        
       
    }

}

.save-recipe form,
.recipe-comment form {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.save-recipe form .form-radio-container,
.recipe-comment form .form-radio-container {

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.save-recipe form hr,
.recipe-comment form hr,
.user-comments hr {

    margin-top: .5rem;
    
}

.form-label {

    @include form-label;
    
}

.input-label {

    padding-left: .5rem;
}

.form-submit {

   @include form-submit;
}

.recipe-comment {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    box-shadow: 7px 9px 9px -4px rgba(0, 0, 0, 0.26);
    


    @include tablet {

        width: 60%;
    }

    @include desktop {

        width: 40%;
       
    }

    @include large {

        width: 30%;
        
       
    }
}

.form-text-area {

    @include mobile-form-text-area;
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

.user-comments {

    @extend .recipe-comment;

}

.user-comments h3 {

    font-family: $nanum; 
    font-size: .8rem;
}

.user-comments p {

    font-size: .8rem;
}

.feedback-title {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1rem;
    background-color: #b8b8b84d;
    margin: 0;
    padding-bottom: 0.5rem;
    padding-top: .5rem;

}

.edit-recipe {

    display:flex;
    flex-direction:column;
    width:100%;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.edit-button,
.delete-button {

    margin-bottom: 0.5rem;

}

.feedback-form-buttons--clicked {

    @include search-button-click;
}

// ---------------------------- CREATE RECIPE ---------------------------- //


.full-recipe__form-main-details,
.full-recipe__form-stats,
.full-recipe__form-ingredients,
.full-recipe__form-method {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid $title-color;
}

.full-recipe__ingredients,
.full-recipe__method {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.full-recipe__create-submit {

    display: flex;
    flex-direction: column;
    align-items: center;
}


.full-recipe__input {

    @include form-input;
    margin-bottom: 0rem;
    margin-right: 1rem;
    
}

.full-recipe__input-recipe-title {

    width: 12rem;

    @include tablet {
        
        width: 14rem;
    }

}
.full-recipe__column-add-recipe {

    display: flex;
    flex-direction: column;
    align-items: left;

}

.full-recipe__form-label {

    font-family: $nanum;
    font-size: .8rem;
    color: $title-color;
    margin-bottom: .5rem;
    font-weight: 600;
    margin-top: .5rem;

}

.full-recipe__text-area {

    font-family: $nanum;
    font-size: .8rem;
    min-width: 12rem;
    height: 5rem;
    margin-top: 0.5rem;
    border: 1px solid $title-color;

    @include tablet {

        min-width: 16.8rem;

    }
    @include desktop {

        min-width: 22rem;
    }
}

.full-recipe__row-add-recipe {

    height:.8rem;
}

.full-recipe__numeric-input {

    @extend .full-recipe__input;
    width: 3rem; 

}

.full-recipe__add-button,
.full-recipe__remove-button {

    @include form-button;
    margin-right: 1rem;
    width: 4rem;
    
}

.full-recipe__add-button:hover,
.full-recipe__remove-button:hover {

    cursor:pointer;

}

.full-recipe__add-button {

    background-color: $add-input;
}

.full-recipe__remove-button {

    background-color: $remove-input;
}

.add-recipe--width {

    width: 85%;

    @include mobile {

        width: 60%;
    }

    @include tablet {

        width: 60%;
    }

    @include desktop {

        width: 30%;
    }
}

.full-recipe__input-ingredient {
    @extend .full-recipe__input;

    width: 6rem;

    @include tablet {

        width: 10rem;
    }
}

.full-recipe__input-step {

    @extend .full-recipe__input;

    width: 10rem;

    @include tablet {

        width: 15rem;
    }

    @include desktop {

        width:18rem;
    } 
}

.full-recipe__form--clicked {

    @include search-button-click;
}

.full-recipe__add-button--clicked {

    @include add-input-click;

}

.full-recipe__remove-button--clicked {

    @include remove-input-click;
}

// -------------------- CRUD MESSAGE PAGE STYLES ---------------------- // 

.crud-message-container {

    min-height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    align-items: center;


}

.crud-message__message-container {

    width: 100%;
    background-color: $accordian-inner;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1rem;
    margin-bottom: 0rem;
}

.crud-message {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include desktop {

        width: 35%;
    }
}



.crud-message__message {

    @extend .crud-message;
    border: 1px solid $accordian-inner;
    padding: 1rem;
    margin: 1rem;
    width: 85%;
    box-shadow: 3px 4px 4px -4px rgba(0, 0, 0, 0.75);
    background-color: #fff;
   
}

.crud-message__message h2 {

    font-family: $nanum;
    color: $title-color;
}
.crud-message__heading {

    @extend .full-recipe__title;
    border-bottom: 1px solid $title-color;
    padding-bottom: 0rem;
   
}

.crud-message__button {

    @include form-button;
    @extend .ingredient__submit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.crud-message__button--clicked {

    @include search-button-click;
}


.crud-message__button-form {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.crud-message__hr {

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.crud-message__image-container {

    height: 17rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $accordian-inner;
    
    @include tablet {

        height: 28rem;
    }

    @include desktop {

        height: 24rem;
    }
}
.crud-message__image {

    background-image: url('../images/444-pxhere-60percent.com.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    min-height: 15rem;
    width: 90%;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
    margin-top: 1rem;
    @include mobile {

        height: 15rem;
    }

    @include tablet {

        height: 34rem;
    }

    @include desktop {
       
        width: 80%;
    }
}