html {
  font-size: 16px; }

html, body {
  border: 0;
  margin: 0;
  padding: 0; }

button, input {
  outline: none; }

a {
  text-decoration: none; }

hr {
  margin: 0; }

p, a, h3, h4, h5, h6, button, select {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.8rem;
  color: #1d3355; }

.ingredient__input {
  margin-bottom: 0.5rem;
  border: 0.5px solid #1d3355;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0);
  text-align: center; }

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: top 0.3s ease-in-out; }

.header--relative {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.sticky {
  top: -6rem; }

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.title-container-recipme {
  left: 50%;
  position: relative;
  transform: translateX(-50%); }

.title {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 0.5rem;
  color: #1d3355; }

.login-content-wrapper {
  position: relative;
  top: 4.1rem; }

.title-image {
  background-image: url("../images/bright-1418280-pxhere.com-65percent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  height: 34rem;
  width: 90%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75); }
  @media (min-width: 575px) {
    .title-image {
      height: 15rem; } }
  @media (min-width: 767px) {
    .title-image {
      height: 34rem; } }

.title-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; }

.sting {
  display: flex;
  flex-direction: column;
  align-items: center; }

.sting--style {
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.26); }

.sting__heading,
.sting__text {
  font-family: "Nanum Gothic", sans-serif; }

.sting__heading {
  font-size: 1.3rem;
  color: #1d3355; }

.sting__text {
  width: 18rem;
  text-align: center;
  font-size: 1rem;
  color: #1d3355; }

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16);
  max-height: 20rem;
  overflow: hidden;
  background-color: #b8b8b84d;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.forms-login-display {
  max-height: 0rem;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.login__label,
.signup__label {
  font-family: "Nanum Gothic", sans-serif;
  padding-bottom: 0.5rem; }

.login__legend,
.signup__legend {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2rem; }

.signup, .login {
  border: 0;
  margin: 1rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0;
  max-height: 0rem;
  overflow: hidden;
  background-color: #e9ef8200;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88), padding 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.show-login-form {
  padding: 0.5rem;
  max-height: 10rem;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88), padding 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.show-signup-form {
  padding: 0.5rem;
  max-height: 10rem;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88), padding 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.signup__input,
.login__input {
  margin-bottom: 0.5rem;
  border: 0.5px solid #1d3355;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1rem;
  width: 11rem;
  color: #1d3355;
  background-color: #e9ef8200; }

.flash {
  display: block;
  position: relative;
  z-index: 1;
  font-family: "Nanum Gothic", sans-serif;
  background-color: #fff; }

.join-us, .more-info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.join-us--style {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.16); }

.join-us__text {
  text-align: center;
  width: 90%; }

.join-us__title {
  font-size: 1rem; }

.more-info {
  padding-bottom: 2rem; }

.more-info--style {
  box-shadow: 0px 2.5px 1px 1px rgba(0, 0, 0, 0.16); }

.join-us__button, .more-info-button {
  border: 0;
  border-bottom: 1px solid #1d3355;
  font-size: 1rem;
  margin-top: 0.5rem;
  background-color: #fff;
  transition: border 0.5s cubic-bezier(0.23, 1, 0.32, 1); }

.join-us__button:hover, .more-info-button:hover {
  cursor: pointer; }

.signup-submit,
.login-submit {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.login__button {
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  border: 0.5px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.8rem;
  margin-top: 1.5rem;
  background-color: #1d3355;
  color: #fff;
  transition: background-color 0.1s ease-in-out; }

.login__button:hover {
  cursor: pointer; }

.login__button--click {
  border: 1px solid #1d3355;
  background-color: #fff;
  color: #1d3355; }

.signup__button {
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  border: 0.5px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  background-color: #df6400f6;
  color: #1d3355;
  transition: background-color 0.1s ease-in-out; }

.signup__button--click {
  border: 1px solid #1d3355;
  background-color: #e7e9ca4d;
  color: #1d3355;
  color: #df6400f6;
  border: 1px solid #df6400f6; }

.signup__button:hover {
  cursor: pointer; }

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 0;
  overflow: hidden;
  padding-bottom: 0rem;
  background-color: #b8b8b84d;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88), padding-bottom 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.stats-show {
  max-height: 60rem;
  padding-bottom: 2rem;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88), padding-bottom 0.4s cubic-bezier(0.23, 0.88, 0, 0.88); }

.stat__stats {
  text-align: center;
  font-size: 1rem; }

.stat__value {
  font-size: 4rem; }

.dc-chart .pie-slice {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.8rem; }

.stats__label {
  font-size: 1.2rem; }

.flashed {
  color: #dd1414;
  margin-top: 0; }

.login-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.login-info p {
  padding-right: 1rem; }

.login-info h2 {
  font-family: "Nanum Gothic", sans-serif;
  padding-left: 1rem;
  font-size: 1.2rem;
  color: #1d3355; }

.hr-90 {
  width: 90%;
  color: #edf2fb4d;
  margin: 0 auto; }

/*.my-recipme {

    
    height: 26rem;
    //justify-content: center;
}*/
.my-recipme__instructions {
  text-align: center; }

.public {
  display: none; }

.bars {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: .5rem; }

.bars__bar1, .bars__bar2, .bars__bar3 {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #1d3355;
  margin: 0.3rem;
  transition: .4s;
  border-radius: 4px; }

.alter .bars__bar1 {
  transform: rotate(-65deg) translate(-0.4rem, 0.4rem); }

.alter .bars__bar2 {
  opacity: 0; }

.alter .bars__bar3 {
  transform: rotate(425deg) translate(-0.6rem, 0.2rem); }

.nav-side-bar {
  list-style: none;
  margin: 0;
  padding: 1rem;
  position: absolute;
  background-color: #df6400f6;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 1; }

.nav-side-bar li {
  padding-bottom: 0.5rem; }

.nav-side-bar li a {
  color: #fff; }

.side-bar-wrapper {
  display: flex;
  justify-content: left;
  position: relative;
  right: 1rem;
  transition: left 0.3s ease-in-out;
  left: -16rem; }

.show-side-bar {
  left: 0rem; }

/*
.accordian {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 4rem;
}


.accordian-outer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    position: relative;
    height: 4rem;
    align-items: center;
    
}

.accordian-outer:hover {

    cursor: pointer;
}

.accordian-inner {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0rem;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
    width: 80%;
    background-color: $accordian-inner;
    
}

.show-recipme-accordian-inner {

    max-height: 10rem;
}

.accordian-outer--color,
 {
    opacity: 1;
    //background-color: $title-color;
    background: linear-gradient($title-color, rgba(29, 52, 88, 0.93));
    //border: 1px solid #2f4669cc; 
    transition: opacity 0.3s ease-in-out;
}

.accordian-outer--active {

    background: linear-gradient($accordian-active, $accordian-active);
    opacity: 0.8;
}


.accordian-outer__title {

    color: #fff;
}

.accordian-outer__plus {

    position: absolute;
    height: 2rem;
    width: 2rem;
    left: 0.2rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0.2rem;

}

.accordian-outer__plus:before {

    content:'+';
    height: 1rem;
    width: 1rem;
    color: #fff;

}

.accordian-submit {

    @include form-button;
    background-color: $side-bar;
    margin: 0.2rem;
    max-width: 5rem;
    cursor: pointer;
}



.ingredient__form,
 .all-recipe__form,
 .saved-recipe__form,
 .cuisine__form,
 .course__form {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0rem;
    //background-color: $accordian-inner;

}
*/
.search-instructions p {
  text-align: center; }

.search-forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #b8b8b84d; }

.ingredient {
  max-height: 20rem;
  transition: max-height 0.4s cubic-bezier(0.23, 0.88, 0, 0.88);
  background-color: #b8b8b84d; }

/*.ingredient--hide {

    max-height: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;

}*/
.ingredient__form-container {
  padding-top: 1rem; }

.ingredient__form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.ingredient__submit-container {
  padding-bottom: 1rem; }

.ingredient__submit,
.all-recipe__submit,
.saved-recipe__submit,
.cuisine__submit,
.course__submit {
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  border: 0.5px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.8rem;
  background-color: #df6400f6;
  cursor: pointer;
  margin: 0.3rem; }

.all-recipe__form,
.saved-recipe__form,
.cuisine__form,
.course__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem; }

.search-forms__instructions {
  text-align: center; }

/*.search-form {

    max-height: 13rem;
    transition: max-height $dropDownTransition;
}*/
.search-form--hide {
  max-height: 0rem;
  overflow: hidden;
  padding: 0rem; }

.search-sort {
  display: inline-block;
  padding: 1rem; }

.search-buttons-container {
  display: flex;
  flex-direction: column;
  height: 5rem;
  justify-content: center; }

.search-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }

.search-buttons__button, .search-buttons__ingredient {
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  border: 0.5px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 0.8rem;
  background-color: #1d3355;
  color: #fff;
  margin: 0.5rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out; }

.search-buttons__ingredient--hide {
  display: none; }

.search-buttons__button--active {
  background-color: #8394ae; }

.course__button,
.cuisine__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }

.search-buttons__button--clicked {
  border: 1px solid #df6400f6;
  background-color: #fff;
  color: #df6400f6; }

select {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/if_ic_keyboard_arrow_down_20px_352466_blue.png");
  background-repeat: no-repeat;
  background-position: 108px 3px;
  text-align: center;
  width: 8rem;
  height: 1.5rem; }

.utensils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 1rem; }

.utensils__icon {
  font-size: 2rem;
  color: #1d3355;
  border: 1px solid #1d3355;
  padding: 1rem;
  border-radius: 10px; }

/*# sourceMappingURL=main.css.map */
