//BUTTONS//

// LOGIN PAGE //
@mixin form-button {

    height: 2rem;
    width: 6rem;
    border-radius:4px;
    border: 0.5px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: $nanum;
    font-size: 0.8rem;

}

//-------------- LOGIN/SIGNUP BUTTONS -----------------//


.signup__button--click {

    border: 1px solid $title-color;
    background-color: #e7e9ca4d;
    color: $title-color;
    width: 4rem;

}

.join-us__button {

    border: 0;
    border-bottom: 1px solid $title-color;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #fff;
    transition: border 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.join-us__button:hover {

    cursor: pointer;
}

