//BUTTONS//

// LOGIN PAGE //
@mixin form-button {

    height: 2rem;
    width: 6rem;
    border-radius:4px;
    border: 0.5px;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: $nanum;
    font-size: 0.8rem;

}

//-------------- LOGIN/SIGNUP BUTTONS -----------------//

@mixin login-click {

    border: 1px solid $title-color;
    background-color: #fff;
    color:$title-color;
    //width: 4rem;

}


@mixin signup-click {

    border: 1px solid $title-color;
    background-color: #e7e9ca4d;
    color: $title-color;
    //width: 4rem;
}

@mixin join-us-button {

    border: 0;
    border-bottom: 1px solid $title-color;
    font-size: 1rem;
    margin-top: 0.5rem;
    background-color: #fff;
    transition: border 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}


@mixin search-button-click {

    border: 1px solid #df6400f6;
    background-color: #fff;
    color: #df6400f6;

}

@mixin category-button-active {

    background-color: $category-active;
}


@mixin add-input-click {

    border: 1px solid #32a832;
    background-color: #fff;
    color: #32a832;
}

@mixin remove-input-click {

    border: 1px solid #ff3232;
    background-color: #fff;
    color: #ff3232;

}