//------------------------------------ MY RECIPE PAGE -------------------------------------------//

//  MENU ICON //

.bars {

    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: .5rem;
    //flex: 1;
    //width: 50%;
}

.bars__bar1, .bars__bar2, .bars__bar3 {

    width: 1.5rem;
    height: 0.2rem;
    background-color: #1d3355;
    margin: 0.3rem;
    transition: .4s;
    border-radius: 4px;
}

.alter .bars__bar1 {

    transform: rotate(-65deg) translate(-0.4rem, 0.4rem);
    
}


.alter .bars__bar2 {

    opacity: 0;
}


.alter .bars__bar3 {

    transform: rotate(425deg) translate(-0.6rem, 0.2rem);
}

.nav-side-bar {

    list-style: none;
    margin: 0;
    padding: 1rem;
    position: absolute;
   // top: -1rem;
    background-color: $title-color;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

.nav-side-bar li {

    padding-bottom: 0.5rem;

}

.nav-side-bar li a{

    
    color: #fff;
}


.side-bar-wrapper {

    display: flex;
    justify-content: left;
    position: relative;
    right: 1rem;
    transition: left 0.3s ease-in-out;
    left: -16rem;
    
   
}

.show-side-bar {

    left: 0rem;

}