
//FORMS//

@mixin form-input {

    margin-bottom: 0.5rem;
    border: 0.5px solid $title-color;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-family: $nanum;
    font-size: 1rem;
}

@mixin login-page-forms {

    border: 0;
    margin: 1rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

@mixin mobile-form-text-area {

    min-width: 15rem;
    min-height: 10rem;

}

@mixin form-label {

    font-family: $nanum;
    color: $title-color;
    font-size: .8rem;


}

@mixin form-submit {

    @include form-button;
    margin-top: 0.5rem;
    //transition: width 0.3s $dropDownTransition;
    background-color:$side-bar;
    color: $title-color;
    transition: background-color 0.1s ease-in-out;

}
// MY RECIPME //

.ingredient__input {

    @include form-input;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}


