// COLORS //

// GENERAL //
$title-color: #1d3355;
$accordian-inner: #b8b8b84d;

// RECIPME ACCORDIAN //

$accordian-active: #8394ae;

// RECIPME SEARCH CATEGORY BUTTONS //

$category-active: $accordian-active;

// SIDE BAR //

$side-bar: #df6400f6;//#ffa000//;

// ADD BUTTON //
$add-input: #32a832;

// REMOVE BUTTON //

$remove-input: #ff3232;